$black: #222;
$darkgrey: #444;
$grey: #808080;
$lightgrey:#ccc ;
$white: #fff;

$color-1: #b40048;
$color-2: #ff3c4f;
$color-3: #ff6e28;
$color-4: #ffcd31;
$color-5: #5ac35a;
$color-6: #00d5d4;
$color-7: #7661d7;
$color-8: #a22a9c;